.login_page {
  font-family: Poppins;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 65px 55px 150px 55px;
  @media (max-width: 700px) {
    width: 350px;
  }
  h1 {
    display: block;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 49px;
  }

  .user_name_wrapper,
  .password_wrapper {
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 23px;
    label {
      font-size: 14px;
      color: #333333;
      line-height: 1.5;
      padding-left: 7px;
    }
    .input_wrapper {
      flex-direction: row-reverse;
    }
    input {
      font-size: 16px;
      color: #333333;
      line-height: 1.2;
      display: block;
      width: 100%;
      height: 55px;
      background: transparent;
      padding: 0 7px 0 12px;
      outline: none;
      border: none;
      transition: color 0.2s linear;
      &:focus{
        color: var(--hover-color);
        ~ i{
          color: var(--hover-color);
        }
      }      
    }
    i {
      transition: color 0.2s linear;
    }
  }

  .forgot_password {
    display: block;
    text-align: right;
    cursor: pointer;
  }
  .submit_button {
    font-size: 16px;    
    background-image: var(--main-gradient);

    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    margin: 25px auto;
  }

  .swich_login_signup {
    text-align: center;
    cursor: pointer;
  }
}
