<div class="login_page">
  <h1>Login</h1>
  <form novalidate [formGroup]="form">
    <div class="user_name_wrapper">
      <label
        >Username
        <div class="input_wrapper app_flex_center">
          <input
            (input)="resetErrors('username')"
            type="text"
            placeholder="username"
            formControlName="username"
          />
          <i class="material-icons">person_outline</i>
        </div>
      </label>
      <div *ngIf="errors.username" class="validation_messsage">
        {{ errors.username }}
      </div>
    </div>
    <div class="password_wrapper">
      <label
        >Password
        <div class="input_wrapper app_flex_center">
          <input
            (input)="resetErrors('pass')"
            type="password"
            placeholder="password"
            formControlName="password"
          />
          <i class="material-icons">lock_outline</i>
        </div>
      </label>
      <div *ngIf="errors.pass" class="validation_messsage">
        {{ errors.pass }}
      </div>
    </div>
    <div class="forgot_password change_color_on_hover">
      <span>Forget Password?</span>
    </div>

    <div (click)="checkForm()" class="submit_button app_flex_center">
      <span>Login</span>
    </div>

    <p class="swich_login_signup change_color_on_hover">Or Sign Up</p>
  </form>
</div>
