@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

:root {
  --main-purple: #a64bf4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_full_page {
  width: 100vw;
  height: 100vh;
}

.purple_on_hover{
  transition: color 0.2s linear;
}
.purple_on_hover:hover{
  color: var(--main-purple);
}
