@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");


//toastr
@import '~ngx-toastr/toastr';

//loader
@import './app/styles/loader.style.scss';

:root {
  --hover-color: #5fc4c8;
  --main-gradient: linear-gradient(315deg, #63d471 0%, #5fc4c8  80%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_full_page {
  width: 100vw;
  height: 100vh;
}

.change_color_on_hover{
  transition: color 0.2s linear;
}
.change_color_on_hover:hover{
  color: var(--hover-color);
}

.validation_messsage{
  position: absolute;
  margin-top: 3px;
  color: darkred;
  display: none;
}

.app_form_is_touched{
  .validation_messsage{
    display: block;
  }
}

.password_input_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  i{
    cursor: pointer;
  }
}
